<% @title = "Log in" %>

<% unless params[:show_rpx] %>
<%= RPXNow.embed_code('crantastic',
                      "http://#{APP_CONFIG[:site_domain]}/session/rpx_token") %>

<p><strong>or log in with an existing Crantastic account</strong></p>
<% end %>

<% form_tag session_path, :id => "new_session" do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', nil, :class => "required" %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil, :class => "required" %></p>

<p><%= submit_tag 'Log in', :id => "login" %></p>
<% end -%>

<script>
  jQuery(document).ready(function(){
    jQuery("form#new_session").validate();
  });
</script>
