/* Header and sidebar ------------------------------------------------ */

h1.title {
  background-color: #FD3933;
  color: #fff;
  padding-top: 2em;
  padding-left: 5px;
  font-size: 4em;
  font-weight: bold;
}
h1.title a:link, h1.title a:visited {color: white; text-decoration: none;}
h1.title a:hover {text-decoration: underline;}

.box {
  background-color: #CEFD9B;
  padding: 0.5em;
  margin-bottom: 1em;
}
ul.tags a:link, ul.tags a:visited, .box a:link, .box a:visited {
  background-color: #fff; 
  padding: 4px; 
  color: #333; 
  font-weight: bold; 
  text-decoration: none;
}

ul.tags a:link, ul.tags a:visited {background-color: #CEFD9B; color: #333;}

.box a:hover {text-decoration: underline;}

ul.tags, .box ul {margin: 0.25em 0.2em;}
ul.tags li, .box ul li {list-style: none; margin-top: 1em; display: inline; margin-right: 0.4em; margin-bottom: 1em; line-height: 2.5;}

ul.tags {margin-left: 0;}
ul.tags a.add:link, ul.tags a.add:visited {background-color: white; border: 1px solid #ccc;}
/* Typography --------------------------------------------------------- */

h1 {
  color: #FD3933;
  font-size: 3em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom:10px;
	border-bottom:2px solid #ddd;
}
h1 .version, h1 .byline {font-size: 30%;}

hr {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

a:link {color: #FD3933;}
a:visited {color: #F7807B;}
p.rating {float: right; width: 1em; font-size: 5em; text-align: right;}

/* Page structure  ----------------------------------------------------- */

.wrap {margin-right: 2em; margin-top: 9.5em;}

#ft {padding-top: 10em;}
#ft p {color: #666; border-top: 1px solid #ccc; padding-top: 0.5em; }

/* Forms and flash ------------------------------------------------------ */

.flash {background-color: #CEFD9B; padding: 0.5em; margin-bottom: 1em;}

input, textarea {
  border: #ccc 2px solid;
  padding: 2px;
}

textarea {width: 100%;}

.fieldWithErrors input {
  border-color: #FD3933;
}

span.error {color: #FD3933; font-size: 0.9em;}

table.general {
	margin-top:4px;
}

table.general, table.general tr, table.general tr td, table.general tr th {
	border:0;
	text-align:left;
	width:100%;
}
table.general tr th{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:3px;
	padding-left:8px;
}
table.general tr.odd {
  background-color:#FAFAFA;
}
table.general tr.even {
	background-color: #F0F1F7;
}
.float-r {float:right;}
.float-l {float:left;}
.clear{clear:both;}

/*Error Fields */
.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input, .fieldWithErrors select {
  background-color: #ffdfdf;
}
.fieldWithErrors .error {
  display: none;
}
.errorExplanation {
  padding:2px;
  border:1px solid red;
  background-color:#f0f0f0;
	margin-bottom:10px;
}
.errorExplanation h2{
  color:red;
  margin-left: 22px;
}
.errorExplanation h4{
  color:red;
  margin-left: 22px;
}
.errorExplanation p{
  color:#792525;
  margin-left: 22px;
  font-family: "Helvetica";
}
.errorExplanation ul {
  padding-left: 20px;
  padding-top: 10px;
}
.errorExplanation ul li {
  color:red;
}
