body
  :margin-top 0

div
  &#container
    :width 700px
    :margin 0 auto

  &#header
    :margin-bottom 25px
    :text-align center

  &#content
    :text-align left

  &#footer
    :margin-top 25px
    :font-size 0.9em
    :color #aaa

  .post
    margin-bottom: 45px
    border-bottom: 1px solid #ccc

h1
  :color #FD3933
  :font-size 3em
  :font-weight normal
  :margin-top 0
  :margin-bottom 0

  &.title
    :background-color #FD3933
    :color #fff
    :padding-top 2em
    :padding-left 5px
    :font-size 4em
    :font-weight bold

    a
      &:link, &:visited
        :color white
        :text-decoration none

      &:hover
        :text-decoration underline

.box
  :background-color #CEFD9B
  :padding 0.5em
  :margin-bottom 1em

  a
    &:link, &:visited
      :color #000
      :font-weight bold
      :text-decoration none

    &:hover
      :text-decoration underline

  ul
    :margin 0.25em 0.2em

    li
      :list-style none
      :margin-top 1em
      :display inline
      :margin-right 0.4em
      :margin-bottom 1em
      :line-height 2.5

a
  &:link
    :color #FD3933

  &:visited
    :color #F7807B
