<% @title = "Sign me up" %>
<p>Interested in contributing reviews to crantastic?  <br />
  <strong>Sign up with your third-party identification (recommended)</strong></p>

<%= RPXNow.embed_code('crantastic', "http://#{APP_CONFIG[:site_domain]}/session/rpx_token") %>

<p><strong>or fill out the form below</strong></p>

<%= render :partial => "form" , :locals => { :user => @user }%>
