input
  :border #ccc 2px solid
  :padding 2px

input[type=password]
  margin: 0.5em 0
  padding: 5px

textarea
  :border #ccc 2px solid
  :padding 2px
  :width 100%

.fieldWithErrors
  :display inline

  input
    :border-color #FD3933

  input, select
    :background-color #ffdfdf

  .error
    :display none
