@import base.sass

+blueprint
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
+blueprint-scaffolding

.float-l
  +float("left")

.float-r
  +float("right")

h1, h2
  a
    +hover-link

h1.title
  :background-color = !red
  :padding 2em 0 0 5px
  :font-size 4em
  :font-weight bold

  a
    &:link, &:visited
      :color = !white

h1
  :color = !red
  :font-size 3em
  :font-weight normal
  :margin-bottom 10px
  :border-bottom 2px solid #ddd

.version, .byline
  :font-size 30%

li span.version
  :font-size 80%

.box
  :background-color = !green
  :padding 0.5em 0.5em 0.5em 0.4em
  :margin-bottom 1em
  a
    +hover-link
    &:link, &:visited
      :background-color = !white
      :padding 4px
      :color #333
      :font-weight bold

.box ul, ul.tags
  +horizontal-list

ul.tags a
  &:link, &:visited
    :background-color = !green
    :padding 4px
    :color #333
    :font-weight bold
    :text-decoration none

ul.tags
  .add
    &:link, &:visited
      :background-color = !white
      :border 1px solid #ccc

ul.tags, .box ul
  :margin 0.25em 0

ul.tags li, .box ul li
  :line-height 2.5em

p.rating
  :float right
  :width 1em
  :font-size 5em
  :text-align right

#container
  +container

#main
  +column(13)
  :margin-top 9.5em

#sidebar
  +column(7, true)

  #search-box
    padding-left: 0.5em

#footer
  +column(20)
  :padding-top 10em

  p
    :color = !quiet_color
    :border-top 1px solid #ccc
    :padding-top 0.5em

.flash
  :background-color = !green
  :padding 0.5em
  :margin-bottom 1em

span.error
  :color = !red
  :font-size 0.9em

table.general
  :margin-top 4px

  tr
    th
      :width 100%
      :border-top 1px solid #ddd
      :border-bottom 1px solid #ddd
      :padding 3px
      :padding-left 8px

    &.odd
      :background-color #FAFAFA

    &.even
      :background-color #F0F1F7

img.spinner
  :align absmiddle

ul#tag-cloud
  +tag-cloud(1.05em)
  li
    :margin 9px
    a
      &:hover
        :background-color = !green

ol
  li
    :margin 10px

@import form
