%h1 Welcome
%h3
  to <span class="red">crantastic</span>, a community site for R packages where you
  can search for, review and tag CRAN packages.

%h1{:style => "font-size: 220%;"} Recent activity
= render :partial => "timeline/timeline", :locals => { :events => @timeline_events }
