%p.flash
  %strong NOTE:
  Because of a problem with a third party plugin we're using, its currently not
  possible to log in via external accounts, including Google, Twitter, OpenID,
  etc. A fix has been produced and we're working on getting it out on the site.

%h1 Welcome
%h3
  to <span class="red">crantastic</span>, a community site for R packages where you
  can search for, review and tag CRAN packages.

%h1{:style => "font-size: 220%"} Recent user activity
= render :partial => "timeline/timeline", :locals => { :events => @timeline_events }
