%h1 Welcome
%h3
  to <span class="red">crantastic</span>, a community site for R packages where you
  can search for, review and tag CRAN packages.

%h1{:style => "font-size: 220%"} Recent user activity

%ul
  - for event in @timeline_events
    %li= timeline_item(event)
