<h1>All tags</h1>

<div class="content">
  <p>Crantastic users have tagged <%= pluralize Tagging.package_count,
     "packages" %> with the following tags:<br >
     <small>(Tags coloured red are automatically created from CRAN <a href="http://cran.r-project.org/web/views/">task views</a>)</small></p>
  <p></p>

  <ul class="tags cloud">
    <%- tag_cloud(@tags, %w(xs s l xl xxl)) do |tag,level| -%>
      <li class="<%= level %>">
        <%= link_to(h(tag), tag, :class => tag.type.to_s.underscore) %>
      </li>
    <%- end -%>
  </ul>
</div>
