<% @title = "Tags"; @plural = true %>
<h1>All Tags</h1>

<div class="content">
  <p>Crantastic users have tagged <%= pluralize Tagging.count, "packages" %> with following tags:</p>

  <ul>
  <% for tag in @tags -%>
    <li><%= link_to tag["tag"], tag_url(tag["tag"]) %> (<%= tag["count"] %>)</li>
  <% end -%>
  </ul>
</div>
