<h1>All tags</h1>

<div class="content">
  <p>Crantastic users have tagged <%= pluralize Tagging.package_count,
     "packages" %> with the following tags:<br >
     <small>(Packages coloured red are automatically created from CRAN <a href="http://cran.r-project.org/web/views/">task views</a>)</small></p>
  <p></p>

  <ul class="tags cloud">
    <%- tag_cloud(@tags, %w(xs s l xl xxl)) do |tag,level| -%>
      <li class="<%= level %>">
        <%- if tag.task_view? -%>
          <%= link_to h(tag), task_view_url(tag), :class => "task_view" -%>
        <%- else -%>
          <%= link_to h(tag), tag_url(tag) -%>
        <%- end %>
      </li>
    <%- end -%>
  </ul>
</div>
