:markdown
  # About crantastic!

  Crantastic is a free open source web-application, written in [ruby on
  rails](http://rubyonrails.org/). The full source code is available from our
  [github repository](http://github.com/hadley/crantastic/tree/master), so you
  can easily see what powers the site, and even contribute code to implement a
  feature you want

  Crantastic was created by [Hadley Wickham](http://had.co.nz/) and is
  currently being developed by Bjørn Mæland as one
  of the [R foundation](http://www.r-project.org/foundation/main.html)'s four
  [Google Summer of Code](http://code.google.com/soc/) projects for 2009.

  Social media icons provided by [komodomedia](http://komodomedia.com/),
  under a [CC Attribution-Share Alike](http://creativecommons.org/licenses/by-sa/3.0/) license.

  ## Tracking progress

  If you want to keep track of what's happening with crantastic, you can read
  our [development blog](http://blog.crantastic.org/), which we use to inform
  about and document the GSoC project progress.

  ## Problems or suggestions?

  We have an [issue tracker](http://github.com/hadley/crantastic/issues) for
  keeping track of technical issues. If you run into any problems or bugs,
  please submit them here. Additionally we have an [account on
  UserVoice](http://crantastic.uservoice.com/) where we collect ideas for new
  features. Be sure to add your idea to the list!
