%h1 About

%p
  :markdown
    Crantastic is a free open source web-application, written in
    [Ruby on Rails](http://rubyonrails.org/). The full source code is available
    from our [GitHub repository](http://github.com/hadley/crantastic/tree/master),
    so anyone can follow the development. This also means that if there's a specific
    feature you'd like to see implemented, you can actually help coding it yourself.

    Crantastic was created by [Hadley Wickham](http://had.co.nz/). It is one of the
    [R Foundation](http://www.r-project.org/foundation/main.html)'s four
    [Google Summer of Code](http://code.google.com/soc/) projects for 2009.
    The GSoC project work is carried out by [Bjørn Mæland](http://chrononaut.net/) and the
    project description can be viewed
    [here](http://socghop.appspot.com/student_project/show/google/gsoc2009/rf/t124024721494).

    We host a [development blog](http://blog.crantastic.org/), which mainly (at least
    for now) will be used to inform about and document the GSoC project progress.

    We have an
    [Issue Tracker](http://github.com/hadley/crantastic/issues) for keeping track
    of technical issues. If you run into any problems or bugs, please submit them here.
    Additionally we have an [account on UserVoice](http://crantastic.uservoice.com/)
    where we collect ideas for new features. Be sure to add your idea to the list!
