<h1>Email notifications</h1>

<form action="http://feedburner.google.com/fb/a/mailverify" method="post">

<p>What do you want to hear about?</p>
<ul>
  <li><label><input type="radio" value="NewPackagesOnCrantastic" name="uri" checked="true" />New packages.</label></li>
  <li><label><input type="radio" value="NewPackageVersionsOnCrantastic" name="uri"/>New and updated packages.</label></li>
  <li><label><input type="radio" value="LatestActivityOnCrantastic" name="uri"/>All site events (new packages, updated packages, reviews...)</label></li>
</ul>

<input type="hidden" name="loc" value="en_US"/>

<p><label>What's your email address:<br />
  <input type="text" name="email"/></label></p>

<input type="submit" value="Subscribe" />
</form>

<p>Emails delivered by <a href="http://feedburner.google.com">FeedBurner</a></p>