- @title = "404"

:markdown
  Sorry! The page you were looking for doesn't exist.

  You may have mistyped the address or the page may have moved.

- if RAILS_ENV == "production"
  <script type="text/javascript" src="http://www.linkpatch.com/monitor/9f5af688bacd1e36ebe41d6cc8ffeb8511a14d0c/"></script>
