<% @title = "Welcome" %>

<p>Welcome to crantastic, a community site for R packages where you can search for, review and tag CRAN packages.</p>

<!-- <h2>What's happening?</h2>

<p>List of events (ratings?, versions, tags, users?)</p> -->
