<% form_for([tagging.package, tagging]) do |f| %>
  <div><%= text_field_tag :tag_name, nil, :size => 20, :class => "required" %>
  <%= f.submit tagging.new_record? ? "Tag it!" : "Update" %></div>
<% end %>
