<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Blog. It's crantastic!</title>
  <link href="/atom.xml" rel="alternate" title="blog.crantastic.org" type="application/atom+xml" />

  <link href="http://yui.yahooapis.com/2.4.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" rel="stylesheet" type="text/css" />
  <link href="http://yui.yahooapis.com/2.4.0/build/base/base-min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
</head>

<body>
<div id="container">
  <div id="header">
    <h1 class="title"><a href="/">crantastic!</a></h1>
    <div class="box"><strong>A development blog for <a href="http://crantastic.org">crantastic.org</a></strong></div>
  </div>

  <div id="content">
    {{ content }}
  </div>

<!--   <div id="footer"> -->
<!--     <hr /> -->
<!--     <strong>Relevant links:</strong> -->
<!--     <ul> -->
<!--       <li>Source code: <a href="http://github.com/hadley/crantastic">http://github.com/hadley/crantastic</a></li> -->
<!--       <li>Issues: <a href="http://github.com/hadley/crantastic/issues">http://github.com/hadley/crantastic/issues</a></li> -->
<!--       <li>Ideas: <a href="http://crantastic.uservoice.com">http://crantastic.uservoice.com</a></li> -->
<!--     </ul> -->
<!--   </div> -->
</div>

</body>
</html>
