<% @title = "Recent reviews"; @plural = true %>
<h1>Recent reviews</h1>

<ul>
<% for review in @reviews %>
  <li><%= link_to review.user.login, review.user  %> gave <%= link_to review.package.name, review.package %> a <%=h review.rating %>, and says "<%= link_to truncate(review.description, 50), review %>"</li>
<% end %>
</ul>